<div class="navigacija">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('index') }}">Pocetna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('sve_fakture') }}">Fakture</a>
        </li>
    </ul>
</div>