.body-container {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

#stampanje-dialog {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.btn-stampanje-dialog-div {
    display: grid;
    justify-items: flex-end;
}
.dodaj-stavku-div{
    display: flex;
    align-items: center;
}



